@charset "utf-8";

#header {
    height: 100px;
    text-align:center;
    background-color: #F7F7F9;
}

.alignement_logo {
    margin-left: 100px;
    float:left;

}

.alignement_nom_application {
    font-size: 30px; 
    text-align: center; 
    display: inline-block; 
    margin-right:100px; 
    margin-top: 30px;

}

.alignement_connexion_deconnexion {
    margin-top: 30px;
    margin-right: 100px;
    float:right;

}

.couleur_bootstrap { 
    color: #337ab7;
}