{% extends 'layout.twig' %}

{% block body %}
    <div id="page_principale" class="col-md-8 panel-body">
        <button type="button" class="btn btn-info" onclick="changeStyle('css/layout_clair.css', 'css/layout_dark.css')">Estilo claro</button>
        <button type="button" class="btn btn-primary" onclick="changeStyle('css/layout_dark.css', 'css/layout_clair.css')">Estilo oscuro</button>

    </div>
{% endblock %}