<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Proyecto 2</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

        {% if user is not defined %}
            <link rel="stylesheet" href="css/layout_clair.css">

        {% else %}    
            <link rel="stylesheet" href="css/{{ user.local.layout }}">
        {% endif %}


    </head>

    <body>
        <div id="header">
            <img id="bloc_image_test" 
                 src="images/uns.png" 
                 height="95px" width="95px" alt="uns" class="alignement_logo"
                 />

            <span id="nom_application" class="alignement_nom_application">Mark managing</span>

            <span id="bloc_connexion_deconnexion" class="alignement_connexion_deconnexion">
                {% if user is not defined %}
                    Login or Register with:
                    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
                {% else %}    
                    <a href="/logout" class="btn btn-default btn-sm">Logout</a>

                {% endif %}
            </span>

        </div>

        <div id="fenetre_principale" class="col-md-12">

            <div class="col-md-3 panel-body">
                <div class="list-group">

                    <a class="list-group-item" href="/">
                        <span class="couleur_bootstrap">Accueil
                        </span>
                    </a>

                    <a class="list-group-item" href="evaluation.html">
                        <span class="couleur_bootstrap">Evaluacion
                        </span>
                    </a>

                    <a class="list-group-item" href="/estilo">
                        <span class="couleur_bootstrap">Estilos
                        </span>
                    </a>


                </div>
            </div>

            <div id="page_principale" class="col-md-8 panel-body">
                {% block body %}

                {% endblock %}


            </div>
        </div>
        <script src="js/layout.js"></script>
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>